        {#- cta ~#}
        <section id="{{ block.name }}" class="px-6 py-6 md:px-8 lg:px-14 xl:px-24">
          <div class="max-w-screen-xl mx-auto">
            <div class="flex flex-row space-x-6 items-center justify-center text-center lg:justify-start lg:text-left">
              <a href="{{ block.button }}" class="text-white dark:text-white hover:text-white hover:dark:text-white hover:no-underline">
                <h2 class="rounded-full px-6 py-2.5 font-bold text-base bg-primary-700 transition-colors duration-300 ease-in-out hover:bg-primary-900">{% trans %}Get started{% endtrans %}</h2>
              </a>
              <a href="{{ block.link|default(site.github.url) }}" class="font-bold text-base align-middle hover:no-underline transition-colors duration-300 ease-in-out">{% trans %}View on GitHub{% endtrans %} →</a>
            </div>
          </div>
        </section>