@import "./tailwind-notes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* links */
  main a,
  footer a {
    @apply text-primary-700 dark:text-primary-400;
  }
  a:hover {
    @apply underline;
  }
  /* header */
  header * {
    @apply text-primary-100 hover:text-primary-50;
  }
  header a {
    @apply hover:no-underline
  }
  /* sidebar */
  #sidebar div.group-title {
    @apply uppercase font-semibold text-sm text-secondary-500 dark:text-secondary-200;
  }
  #sidebar ul {
    @apply list-none p-0 mb-2;
  }
  #sidebar ul:last-child {
    @apply mb-0;
  }
  #sidebar ul>li {
    @apply my-1;
  }
  #sidebar ul>li:last-child {
    @apply mb-0;
  }
  #sidebar ul>li>a {
    @apply text-secondary-800 dark:text-secondary-300 px-2.5 py-1.5 no-underline font-medium;
  }
  #sidebar ul>li>a.active,
  #sidebar ul>li>a:hover {
    @apply rounded bg-primary-200 dark:text-secondary-800;
  }
  #sidebar ul>li>a.active {
    @apply text-primary-700;
  }
  /* on this page */
  main details li {
    @apply m-2;
  }
  main details a {
    @apply no-underline text-inherit !important;
  }
  /* article hx anchor */
  article .anchor-title {
    padding-left: 0.5rem;
  }
  article a.anchor-title {
    text-decoration: none;
    @apply text-primary-700 dark:text-primary-400;
    opacity: 0.75;
  }
  article a.anchor-title:hover {
    text-decoration: none;
    opacity: 1;
  }
  /* on this page ToC */
  #on-this-page ul {
    @apply list-none;
  }
  #on-this-page-toc {
    @apply text-primary-700 dark:text-primary-400;
  }
  #on-this-page-toc a {
    @apply text-primary-700 dark:text-primary-400;
  }
}

@layer components {
  /* selectors */
  .formselect {
    @apply p-1 border rounded-sm border-primary-50 border-opacity-25;
  }
  #sidebar .formselect {
    @apply border-none;
  }
  .selector {
    @apply bg-transparent border-0 text-inherit cursor-pointer;
  }
  .selector:hover {
    @apply text-inherit;
  }
  .selector option {
    @apply text-primary-950;
  }
}

/* DocSearch */
.DocSearch.DocSearch-Button {
  @apply w-full lg:w-48 rounded m-0 lg:px-4 py-2 bg-primary-800 focus:outline-none focus:bg-primary-700 shadow-inner cursor-pointer !important;
  @apply max-lg:bg-transparent !important;
  @apply max-lg:shadow-none !important;
}
.DocSearch .DocSearch-Button-Placeholder {
  @apply text-primary-100 font-light !important;
  @apply pl-3 !important;
}
.DocSearch-Button-Keys {
  display: none !important;
}
.DocSearch-Search-Icon {
  @apply text-primary-100 !important;
}
.DocSearch-Form {
  @apply text-primary-100 bg-primary-800 shadow-none !important;
}
.DocSearch-Input {
  @apply text-primary-100 !important;
}
.DocSearch-Input::placeholder {
  @apply text-primary-100 !important;
}
.DocSearch-Cancel {
  @apply text-primary-800 !important;
}
.DocSearch-Hit-source {
  @apply text-primary-800 !important;
}
.DocSearch-Hit[aria-selected=true] a {
  @apply bg-primary-800 !important;
}
.DocSearch-Hits mark {
  @apply text-primary-800 !important;
}
