{% extends '_default/page.html.twig' %}

    {%- block content ~%}
      <div class="flex-col">
        {#- blocks ~#}
        {%- for block in page.blocks|default ~%}
        {{- include('blocks/' ~ block.name ~ '.html.twig', ignore_missing = true) ~}}
        {%- endfor ~%}
        {#- content ~#}
        <article id="content" class="markdown dark:markdown-invert max-w-2xl mx-auto px-4 md:px-0 py-6">
          {{ page.content }}
        </article>
      </div>
    {%- endblock content ~%}