          {#- feature ~#}
          <div>
            <article class="px-5 py-6 rounded-xl bg-primary-100 dark:dark:bg-primary-900 h-full">
              <h2 class="font-semibold text-lg mb-2">{{ feature.title }}</h2>
              <div class="text-secondary-600 dark:text-secondary-400 font-normal">{{ feature.description|markdown_to_html }}</div>
            </article>
          </div>